body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
}

.grid{
    height: 500px;
    width: 500px;
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}